{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать в Movies Hub!</title>
    <link rel="stylesheet" href="{% static 'css/email-styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>Добро пожаловать в Movies Hub!</h1>
    </div>
    
    <div class="content">
        <p>Здравствуйте!</p>
        
        <p>Спасибо за подписку на нашу рассылку. Теперь вы будете первыми узнавать о:</p>
        <ul>
            <li>Новых фильмах и сериалах</li>
            <li>Специальных предложениях</li>
            <li>Эксклюзивных акциях</li>
            <li>Рекомендациях, подобранных специально для вас</li>
        </ul>
        
        <p>Мы рады, что вы с нами!</p>
        
        <p>С уважением,<br>Команда Movies Hub</p>
    </div>
    
    <div class="footer">
        <p>Это письмо отправлено автоматически. Пожалуйста, не отвечайте на него.</p>
        <p>Если вы не подписывались на рассылку, просто проигнорируйте это письмо.</p>
        <p>© 2024 Movies Hub. Все права защищены.</p>
    </div>
</body>
</html> 