{% extends 'base.html' %}
{% load static %}

{% block title %}Сериалы{% endblock %}

{% block content %}
<!-- tv-series-area -->
<section class="tv-series-area tv-series-bg" data-background="{% static 'img/bg/tv_series_bg.jpg' %}">
    <div class="container">
        <div class="row align-items-end mb-60">
            <div class="col-lg-6">
                <div class="section-title text-center text-lg-left">
                    <h2 class="title">Все сериалы</h2>
                </div>
            </div>
        </div>
        <div class="row tr-movie-active">
            {% for serial in serials %}
            <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer">
                <div class="movie-item movie-item-three mb-50">
                    <div class="movie-poster">
                        <img src="{{ serial.poster.url }}" alt="{{ serial.title }}">
                        <ul class="overlay-btn">
                            <li><a href="{% url 'serial_detail' serial.pk %}" class="btn">Подробнее</a></li>
                        </ul>
                    </div>
                    <div class="movie-content">
                        <div class="top">
                            <h5 class="title"><a href="{% url 'serial_detail' serial.pk %}">{{ serial.title }}</a></h5>
                            <span class="date">{{ serial.release_year }}</span>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>
                                    <span class="quality">HD</span>
                                </li>
                                <li>
                                    {% for genre in serial.genres.all %}
                                        <span>{{ genre.name }}{% if not forloop.last %}, {% endif %}</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-center">Сериалы не найдены.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- tv-series-area-end -->
{% endblock %} 